#
#
# ALL ENVIRONMENT VARIABLES ARE REQUIRED.
# DO NOT LEAVE ANY VARIABLES EMPTY/UNDEFINED.
# PUSHING AN .ENV FILE TO GITHUB WILL EXPOSE YOUR CREDENTIALS PUBLICLY.
# THIS WILL RENDER YOUR IMDB/TRAKT ACCOUNTS HACKED IF A MALICIOUS USER FINDS THE CREDENTIALS.
# IF USING GITHUB REPOSITORY SECRETS, AN .ENV FILE IS NOT REQUIRED.
#
#

#
# IMDB_COOKIE_AT_MAIN
# Retrieve the `at-main` cookie by logging into your IMDb account and inspecting the cookies using your favourite web browser.
# name: at-main | domain: .imdb.com
IMDB_COOKIE_AT_MAIN=
#
# IMDB_COOKIE_UBID_MAIN
# Retrieve the `ubid-main` cookie by logging into your IMDb account and inspecting the cookies using your favourite web browser.
# (name: ubid-main | domain: .imdb.com)
IMDB_COOKIE_UBID_MAIN=
#
# IMDB_LIST_IDS
# Comma separated list of IMDb lists that you want synced to Trakt.
# In order to get the id of an IMDb list, open your list in a browser and you will find the id in the URL with this format `ls#########`.
# If you set the value to `all` all your IMDb lists will be synced to Trakt.
# Keep in mind the maximum number of lists you can have in Trakt: https://twitter.com/trakt/status/1536751362943332352
# example: ls517879007,ls084017844,ls093412639
IMDB_LIST_IDS=all
#
# IMDB_USER_ID
# In order to get your IMDb user id, you will need to be logged in.
# The user id can be found within the URL when you have your profile/watchlist/ratings/lists opened in a browser.
# If you set the value to `scrape` your user id will be scraped from the web.
# example: ur90652269
IMDB_USER_ID=scrape
#
# TRAKT_CLIENT_ID
# Client id of your Trakt API application.
# More info in the README file: https://github.com/cecobask/imdb-trakt-sync/blob/main/README.md
TRAKT_CLIENT_ID=
#
# TRAKT_CLIENT_SECRET
# Client secret of your Trakt API application.
# More info in the README file: https://github.com/cecobask/imdb-trakt-sync/blob/main/README.md
TRAKT_CLIENT_SECRET=
#
# TRAKT_USERNAME
# Trakt username (not email).
TRAKT_USERNAME=
#
# TRAKT_PASSWORD
# Trakt password.
TRAKT_PASSWORD=
